/* ========Common styles======== */
ul,ol{
    list-style: none;
}
a {
    color:inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
}
/* ========Header styles======== */
.menu-link:hover,
.menu-link:focus{
    color: #9747FF;
    color: #404bbf;
}
.contact-list-link:hover,
.contact-list-link:focus{
    color: #9747FF;
    color: #404bbf;
}
.page-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        color: #4d5ae5
}
.color-logostudio{
    color:#2e2f42;
}
.menu-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.contact-list-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact-block{
    font-style: normal;
}
/* ========Hero styles======== */
.hero{
    background-color: #2e2f42;
}
.main-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07
}
.order-service{
    font-family: "Roboto", sans-serif;
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
}
.order-service:hover,
.order-service:focus {
    background-color: #404BBF
}
/* ========Benefits styles======== */
.benefits-list-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.benefits-list-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ========Team styles======== */
.team-background{
    background-color: #f4f4fd;
}
.team-photos{
    background-color: #FFFFFF;
}
.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.team-names{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-roles{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ========Potrfolio styles======== */
.portfolio-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.portfolio-list{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-categories{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ========Footer styles======== */
.page-footer{
    background-color: #2e2f42;;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        line-height: 1.17;
        text-transform: uppercase;
}
.footer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.color-studio{
   color: #f4f4fd
}